**/.DS_Store
**/Thumbs.db
**/.pio

# Ignore all files inside any .vscode directory
**/.vscode/*
# But do not ignore the .vscode directories themselves
!**/.vscode/
# Allow settings.json inside any .vscode directory to be tracked
!**/.vscode/settings.json

**/*.log
*.bootloader.*
*.partitions.*
/source/*/log
/source/*/logs
site/