#themes,
#streamMode {
  width: 230px;
}

/* Custom Toggles */
.toggle-switchy[data-text="direction"] > input + .toggle:before {
  content: "CW";
}
.toggle-switchy[data-text="direction"] > input + .toggle:after {
  content: "CCW";
}

/* Override with a background image */
.equipment {
  background-image: url(/equipment.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

/* Equipment Labels and Overlays */
.equip-title {
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 10px;
  position: relative;
  top: 15px;
  z-index: 3;
}

.power-title {
  display: flex;
  font-weight: 700;
  left: 310px;
  margin-right: 8px;
  top: 350px;
  z-index: 3;
}

.stream-title {
  display: flex;
  font-weight: 700;
  left: 194px;
  margin-right: 8px;
  top: 421px;
  z-index: 3;
}

.batt-title {
  font-size: 0.9em;
  font-weight: 700;
  left: 8px;
  top: 406px;
  z-index: 3;
}

.barrel-box {
  border-radius: 5px;
  left: 268px;
  height: 60px;
  top: 338px;
  width: 20px;
  z-index: 2;
}

.booster-box {
  border-radius: 2px;
  left: 92px;
  height: 96px;
  top: 79.5px;
  width: 20.5px;
  z-index: 2;
}

.cyc-circle {
  border-radius: 50%;
  left: 77.5px;
  height: 140px;
  top: 277px;
  width: 140px;
  z-index: 2;
}

.cyc-circle::before {
  background-color: #fff;
  border-radius: 50%;
  bottom: -5.5px;
  content: "";
  height: 39px;
  left: 74.5px;
  position: absolute;
  width: 40px;
}

.filter-circle {
  border-radius: 50%;
  left: 152px;
  height: 41px;
  top: 382.8px;
  width: 40px;
  z-index: 3;
}

.ion-switch {
  border-radius: 2px;
  left: 52px;
  height: 38px;
  top: 80px;
  width: 30px;
  z-index: 2;
}

.power-box {
  border-radius: 2px;
  left: 37px;
  height: 75px;
  top: 132.5px;
  width: 35px;
  z-index: 2;
}

.safety-box {
  border-radius: 5px;
  left: 305px;
  height: 32px;
  top: 156px;
  width: 16px;
  z-index: 2;
}

.cable-state {
  border-radius: 5px;
  left: 70px;
  height: 32px;
  top: 264px;
  width: 28px;
  z-index: 2;
}

.cable-warn {
  color: #ff0;
  display: none;
  font-family: monospace;
  font-size: 6em;
  left: 55px;
  text-shadow: #880 1px 0 5px;
  top: 206px;
  z-index: 2;
}

.rad-warn {
  font-weight: 700;
  left: 40px;
  position: relative;
  top: 425px;
  z-index: 2;
}
