name: compile-test
on:
  - push
  - pull_request
env:
  # It's convenient to set variables for values used multiple times in the workflow
  SKETCHES_REPORTS_PATH: sketches-reports
  SKETCHES_REPORTS_ARTIFACT_NAME: sketches-reports
jobs:
  compile-core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/compile-sketches@v1
        with:
            enable-deltas-report: true
            fqbn: arduino:avr:mega
            sketch-paths: |
              - source/NeutronaWand
              - source/ProtonPack
            libraries: |
              - name: ezButton
              - name: FastLED
              - name: Ramp
              - name: simple ht16k33 library
              - name: AltSoftSerial
              - name: SerialTransfer
              - source-url: https://github.com/ansonhe97/millisDelay.git
            verbose: true
      # This step is needed to pass the size data to the report job
      - name: Upload sketches report to workflow artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}
  compile-addons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/compile-sketches@v1
        with:
            enable-deltas-report: true
            fqbn: arduino:avr:nano
            sketch-paths: |
              - source/Attenuator
            libraries: |
              - name: ezButton
              - name: FastLED
              - name: Ramp
              - name: simple ht16k33 library
              - name: AltSoftSerial
              - name: SerialTransfer
              - source-url: https://github.com/ansonhe97/millisDelay.git
            verbose: true
      # This step is needed to pass the size data to the report job
      - name: Upload sketches report to workflow artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}
