name: compile-test
on:
  - push
  - pull_request
env:
  # It's convenient to set variables for values used multiple times in the workflow
  SKETCHES_REPORTS_PATH: sketches-reports
  SKETCHES_REPORTS_ARTIFACT_NAME: sketches-reports
jobs:
  compile-mega:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/compile-sketches@v1
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            enable-deltas-report: true
            fqbn: arduino:avr:mega
            sketch-paths: |
              - source/NeutronaWand
              - source/ProtonPack
            libraries: |
              - name: Switch
              - name: FastLED
              - name: Ramp
              - name: SafeString
              - name: SerialTransfer
              - name: Simple ht16k33 Library
            verbose: false
      # This step is needed to pass the size data to the report job
      - name: Upload sketches report to workflow artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}
  compile-nano:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/compile-sketches@v1
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            enable-deltas-report: true
            fqbn: arduino:avr:nano
            sketch-paths: |
              - source/Attenuator
            libraries: |
              - name: ezButton
              - name: FastLED
              - name: Ramp
              - name: SafeString
              - name: SerialTransfer
              - name: Simple ht16k33 Library
            verbose: false
      # This step is needed to pass the size data to the report job
      - name: Upload sketches report to workflow artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}
  compile-esp32:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/compile-sketches@v1
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            enable-deltas-report: true
            fqbn: esp32:esp32:esp32
            sketch-paths: |
              - source/Attenuator
            libraries: |
              - name: ArduinoJson
              - name: AsyncTCP
              - name: ESP Async WebServer
              - name: ezButton
              - name: FastLED
              - name: Ramp
              - name: SafeString
              - name: SerialTransfer
              - name: Simple ht16k33 Library
              - source-url: https://github.com/DustinGrau/ElegantOTA.git
            verbose: false
            # Need this to ensure any warnings do not impede compilation
            cli-compile-flags: |
              - --warnings
              - none
              - --log-level
              - error
      # This step is needed to pass the size data to the report job
      - name: Upload sketches report to workflow artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.SKETCHES_REPORTS_ARTIFACT_NAME }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}
